In [175]:
import pandas as pd

In [176]:
train, test = pd.read_csv("train.csv"), pd.read_csv("test.csv")

In [177]:
train, test = train.drop(columns = ["Name", "Cabin", "Ticket"]), test.drop(columns = ["Cabin", "Name", "Ticket"])

In [178]:
train['Age'].fillna(train['Age'].mean(), inplace=True)

In [179]:
test['Age'].fillna(test['Age'].mean(), inplace=True)

In [180]:

train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

In [181]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [182]:
test.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [183]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       1    male  45.5      0      0  28.5000        S
1         0       2    male  23.0      0      0  13.0000        S
2         0       3    male  32.0      0      0   7.9250        S
3         0       3    male  26.0      1      0   7.8542        S
4         0       3  female   6.0      4      2  31.2750        S

In [184]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
train['Sex'] = labelencoder.fit_transform(train['Sex'])

In [185]:
test['Sex'] = labelencoder.fit_transform(test['Sex'])

In [186]:
train['Embarked'] = labelencoder.fit_transform(train['Embarked'])

In [187]:
test['Embarked'] = labelencoder.fit_transform(test['Embarked'])

In [188]:
Train, Test = train.values, test.values
y_train, X_train = Train[:, 0], Train[:, 0:]
y_test, X_test = Test[:, 0], Test[:, 0:]

In [189]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
scaler.fit(X_test)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [190]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [191]:
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier()

classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [192]:
predictions = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

print("Accuracy_score:", accuracy_score(y_test, predictions))

Accuracy_score: 1.0

In [194]:
print(y_train.shape, X_train.shape, y_test.shape, X_test.shape)

(712,) (712, 8) (179,) (179, 8)